---
import KanbanColumn from './KanbanColumn.astro';
---
<script>
  let tasks = [];
  const token = localStorage.getItem('token');

  async function fetchTasks() {
    try {
      const response = await fetch(`http://localhost:3000/api/v1/tasks/`, {
        headers: {
          'Authorization': `Bearer ${token}`
        }
      });
      if (!response.ok) throw new Error('Failed to fetch tasks');
      tasks = await response.json();
      console.log("tasks inside fetch:1", tasks); 
    } catch (error) {
      console.error('Error:', error.message);
    }
  }

  fetchTasks().then(() => {
    console.log("tasks after fetch2:", tasks);  
  });
</script>


<div class="h-screen lg:px-10">
  <div class="grid lg:grid-cols-4 md:grid-cols-4 sm:grid-cols-2 gap-5">
    <KanbanColumn id="pending-column" title="Pending" tasksStatus="pending" color="bg-gray-200"  />
    <KanbanColumn id="todo-column" title="To-do" tasksStatus="todo"color="bg-blue-100"  />
    <KanbanColumn id="progress-column" title="In progress" tasksStatus="in-progress" color="bg-yellow-100"  />
    <KanbanColumn id="complete-column" title="Complete" tasksStatus="complete" color="bg-green-100" />
  </div>
</div>
